html
    head
        title Hello world
        link(rel="stylesheet" href="/app.css")
    body
        h1 Index
        h2 Subtitle
        h3 Im an h3
        p Heys
        script(src="http://localhost:35729/livereload.js")
