html
    head
        title Hello world
        link(rel="stylesheet" href="/app.css")
    body
        h1 Tailwind + Pug + Laravel mix + Postcss
        script(src="http://localhost:35729/livereload.js")
